*.1.html
ANNOUNCEMENT
AUTOFILES
ChangeLog
compile
conf_bin.c
conf_bin.sh
conf_man.c
echon.sh
load
Makefile
README
SRCFILES
svc-add
svc-build
svc-isdown
svc-isup
svc-kill
svc-remove
svc-restart
svc-start
svc-status
svc-stop
svc-waitdown
svc-waitup
svscan-add-to-inittab
TARGETS
warn-auto.sh
